.center {
	text-align: center;
}

.home_box {
	width: 100%;
	padding: .5em 1em .4em 1em;
	margin: 4em auto 0 auto;
	background-color: $gray-1;
	border-radius: .5em;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.main_header {
	margin: 3em auto;
	padding: 1.2em;
	background-color: $gray-1;
	color: $color_logo_1;
}

.minor_header {
	margin: 3em auto;
	padding: 1.2em;
	background-color: $white;
}

.break {
	position: relative;
	width: 100%;
	min-height: 120px;
	padding: 2em;
	margin: 0 0 .5em 0;
	background-color: $color_logo_2;
	color: $gray-1;
	text-align: center;
	box-shadow: 0 0 12px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 0 12px 2px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 0 12px 2px rgba(0, 0, 0, .4);
	h1 {
		font-weight: 300;
	}
}

#landing {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: $white;
	min-height: 800px;
	padding: 1.5em 0 5em 0;
	h1 {
		margin: .5em 0 0 0;
		font-weight: 600;
		color: $white;
		text-shadow: 2px 1px $gray-6;
	}
	.button_raised {
		margin: .2em auto;
	}
	@media (max-width: 768px) {
		margin-top: -70px;
	}
}

#providers {
	padding: 3em 0 6em 0;
	background-color: $white;
	img {
		margin: .5em auto;
	}
}

#about {
	padding: 6em 0;
	background-color: $gray-1;
	p {
		color: $color_logo_1;
	}
}

.image_full {
	width: 100%;
	border: 1em solid $white;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

#contact {
	margin: -.5em 0 0 0;
	padding: 5em 0;
	background-color: $gray-1;
	a:hover {
		color: $color_logo_2;
		-webkit-transition: all 0.2s ease-in-out;
  		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
}